
/* HTML Selectors */
body {
  font-family: "EB Garamond", serif;
  background-color: #0e387a;
  max-width: 960px;
  margin: 0 auto;
  padding: 2em;
  line-height: 30px;
}

#color {
  background-color: #9fafca;
  padding:10%;
}
header {
  margin: auto;
  text-align: center;
}

input,
textarea,
button,
select {
  padding: 0.5rem;
  font-size: 1.5em;
}

h1 {
  font-size: 2.1em;
}
h2
{
  padding-bottom: 0.5em;
  padding-top: 2em;
  font-size: 1.8em;
}

#amount,
#list
{
  margin-bottom: 50px;
}

#littleFlag,
#image
{
  text-align: center;
}

#littleFlag img
{
  width: 90px;
  height: 50px;
  margin: 5px; 
}

#result
{
  text-align: center;
  font-size: 2em;
}

footer
{
  font-size: 1.5em;
  text-align: right;
}

/* Media Queries */
@media only screen and (min-width: 32.5em) {
  nav ul {
    flex-direction: row;
  }

  nav ul li:first-child {
    display: none;
  }

  nav ul li {
    display: inline;
    margin: 0 10px;
  }
}

label{
  font-size: 2em;  
}